* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 70px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-top: 10px;
}

ul li a {
    text-decoration: none;
    font-size: 15px;
    padding: auto;
    color: rgb(96, 101, 106);
}

nav img {
    max-height: min-content;


}

.common-btn {
    padding: 10px 50px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
    background-color: #1D4ED8;


}

.banner {
    background-image: linear-gradient(rgba(0.9, 0, 1.2, 0), rgba(0, 0, 0, 0.7)), url("./assets/banner.jpg");
    background-position: center;

    background-size: cover;
    height: 600px;
    max-width: 1500px;
    /* display: flex;
    justify-content: space-between; */
}

.banner-container h1 {
    font-size: 72px;
    font-weight: 700;
    padding-top: 80px;
    display: flex;
    justify-content: center;

    text-align: center;
    color: white;

}

.banner-container p {
    /* align-content: center; */

    padding-right: 350px;
    padding-left: 350px;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    /* max-width: 200px; */
    font-size: 17px;
    text-align: center;
    align-items: center;
    color: white;


}

.common-btn1 {
    display: flex;
    justify-content: center;
    padding-top: 250px;
}

.speakers-container h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    font-size: 40px;
    margin: 30px;
}

.speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 20px;
    padding: 2px 50px;
}

.speakers-hero {
    border: 2px solid #e4e7ed;
    border-radius: 8px;
    background: white;
}

.speakers-hero img {
    width: 100%;
    display: block;
    height: 300px;
}

.speakers-hero-info {
    padding: 5px 7px 8px;
}
.sector{
    font-size: smaller;
    color: #3562df;
    font-weight: 400px;
}
